{% extends 'base.html.twig' %}

{% block title %}Arcadia - Habitats{% endblock %}


{% block body %}
<main class="habitats">
    <section class="container-habitats">
        <div class="add-habitat">
            <button class="button2">Ajouter un habitat</button>
        </div>
        <section class="savane">
            <div class="container-habitat">
                <div class="img-habitat" id="imgSavane"><img src="./assets/img/savane.jpg" alt=""><i id="icon-delete"
                        class="fa-solid fa-trash-can"></i>
                    <i id="icon-update" class="fa-solid fa-pencil"></i>
                    <h3>La savane</h3>
                    <button id="button-discover-savane" class="button1">Découvrir</button>
                    <div id="minimize-savane" class="minimize"><i class="fa-solid fa-window-minimize"></i></div>
                </div>
            </div>
            <div id="description-savane" class="description">
                <p>Partez en safari au milieu de la savane sur le territoires les lions et faites la rencontre
                    de
                    notre couple de girafes, des zèbres et autres espèces.</p>
            </div>

            </div>
            <div id="list-animals-savane" class="list-animals">
                <div class="list-title">
                    <h3>Liste des animaux</h3>

                    <button class="button2">Ajouter un animal</button>
                </div>
                <div class="list-animals-cards">
                    <div class="card">
                        <ul>
                            <div class="img-animal"> <img src="./assets/img/lion-simba.jpg" alt=""><i id="icon-delete"
                                    class="fa-solid fa-trash-can"></i>
                                <i id="icon-update" class="fa-solid fa-pencil"></i>
                            </div>
                            <li>Prénom:#</li>
                            <li>Race:#</li>
                            <li>Etat:#</li>

                        </ul>
                    </div>
                </div>
            </div>
        </section>

        <section class="marais">
            <div class="container-habitat">
                <div class="img-habitat"><img src="./assets/img/marais.jpg" alt=""><i id="icon-delete"
                        class="fa-solid fa-trash-can"></i>
                    <i id="icon-update" class="fa-solid fa-pencil"></i>
                    <h3>Le marais</h3>
                    <button id="button-discover-marais" class="button1">Découvrir</button>
                    <div id="minimize-marais" class="minimize"><i class="fa-solid fa-window-minimize"></i></div>
                </div>
            </div>
            </div>
            <div id="description-marais" class="description">
                <p>Baladez vous au coeur du marais, venez découvrir nos flamants roses et les divers espèces
                    d'oiseaux.</p>
            </div>

            </div>
            <div id="list-animals-marais" class="list-animals">
                <div class="list-title">
                    <h2>Liste des animaux</h2>

                    <button id="button-add-animal" class="button2">Ajouter un animal</button>
                </div>

                <div class="list-animals-cards">
                    <div class="card">

                        <ul>
                            <div class="card-img"> <img src="#" alt="">
                                <div id="icon-update"></div>
                                <div id="icon-delete"></div>
                            </div>
                            <li>Prénom:#</li>
                            <li>Race:#</li>
                            <li>Etat:#</li>

                        </ul>
                    </div>

                </div>
            </div>
        </section>

        <section class="jungle">
            <div class="container-habitat">
                <div class="img-habitat"><img src="./assets/img/jungle.jpg" alt=""><i id="icon-delete"
                        class="fa-solid fa-trash-can"></i>
                    <i id="icon-update" class="fa-solid fa-pencil"></i>
                    <h3>La jungle</h3>
                    <button id="button-discover-jungle" class="button1">Découvrir</button>
                    <div id="minimize-jungle" class="minimize"><i class="fa-solid fa-window-minimize"></i></div>
                </div>
            </div>
            </div>
            <div id="description-jungle" class="description">
                <p>Aventurez vous dans la jungle, venez découvrir nos félins, tigres, pumas et jaguar. </p>
            </div>

            </div>
            <div id="list-animals-jungle" class="list-animals">
                <div class="list-title">
                    <h2>Liste des animaux</h2>

                    <button id="button-add-animal" class="button2">Ajouter un animal</button>
                </div>

                <div class="list-animals-cards">
                    <div class="card">
                        <ul>
                            <div class="img-animal"> <img src="./assets/img/lion-simba.jpg" alt=""><i id="icon-delete"
                                    class="fa-solid fa-trash-can"></i>
                                <i id="icon-update" class="fa-solid fa-pencil"></i>
                            </div>
                            <li class:"li-page-habitats">Prénom:#</li>
                            <li class:"li-page-habitats">Race:#</li>
                            <li class:"li-page-habitats">Habitat:#</li>
                            <li class:"li-page-habitats">Etat:#</li>
                            <li class:"li-page-animal">Nourriture proposée:#</li>
                            <li class:"li-page-animal">Quantité de nourriture:#</li>
                            <li class:"li-page-animal">Date de passage:#</li>
                            <li class:"li-page-animal">Détail de l'état:#</li>
                        </ul>
                    </div>

                </div>
            </div>
        </section>
    </section>
</main>

{% endblock %}
{% block javascripts %}
<script src="{{asset('assets/js/pages/habitats.js')}}"></script>
{% endblock %}