{% extends 'base.html.twig' %}

{% block title %}Arcadia - Habitats{% endblock %}


{% block body %}
<main class="animal">
    {% include "cards/card-animal.html.twig" %}
    <div class="li-page-animal">
        <ul>
            <li>Nourriture proposée:#</li>
            <li>Quantité de nourriture:#</li>
            <li>Date de passage:#</li>
            <li>Détail de l'état:#</li>
        </ul>
    </div>
</main>
{% endblock %}
{% block javascripts %}
<script src="{{asset('assets/js/pages/habitats.js')}}"></script>
<script src="{{asset('assets/js/pages/animalsModals.js')}}"></script>
{% endblock %}