RewriteEngine On

RewriteRule ^home/$ index.php?controller=page&action=home
RewriteRule ^contact/$ index.php?controller=movie&action=contact
RewriteRule ^habitats/$ index.php?controller=habitat&action=list
RewriteRule ^habitat/([0-9]+)/?$ index.php?controller=movie&action=show&id=$1 [L]
RewriteRule ^animals/$ index.php?controller=animal&action=list
RewriteRule ^animal/([slug]+)/?$ index.php?controller=animal&action=show&slug=$1 [L]
RewriteRule ^services/$ index.php?controller=habitat&action=list
RewriteRule ^login/$ index.php?controller=auth&action=login
RewriteRule ^dashboard/admin/$ index.php?controller=dashboard&action=admin
RewriteRule ^user/register/$ index.php?controller=dashboard&action=user
RewriteRule ^review/page/([0-9]+)/?$ index.php?controller=review&action=list&page=$1 [L]





