<header>
    <nav id="nav">
        <div class="container-title-nav">
            <h2>Arcadia</h2>
        </div>
        <ul>
            <li><a href="{{path('page_home')}}">Accueil</a></li>
            <li><a href="{{path('page_habitats')}}">Habitats</a></li>
            <li><a href="{{path('page_services')}}">Services</a></li>
            <li><a href="#">Contact</a></li>
            <li id="link-connexion"><a href="#">Connexion</a></li>
        </ul>
        <div id="icons"></div>
        <button id="button-connexion" class="button1">Connexion</button>

    </nav>
    <aside>
        <h2>
            {{ title_page }}
        </h2>
    </aside>
</header>