<div class="card" id="$idAnimal">
    <ul>
        <div class="img-animal"> <img src="$url" alt=""><i id="icon-delete" class="fa-solid fa-trash-can"></i>
            <i id="icon-update" class="fa-solid fa-pencil"></i>
        </div>
        <li class:"li-page-habitats">Prénom:#</li>
        <li class:"li-page-habitats">Race:#</li>
        <li class:"li-page-habitats">Habitat:#</li>
        <li class:"li-page-habitats">Etat:#</li>
        <li class:"li-page-animal">Nourriture proposée:#</li>
        <li class:"li-page-animal">Quantité de nourriture:#</li>
        <li class:"li-page-animal">Date de passage:#</li>
        <li class:"li-page-animal">Détail de l'état:#</li>
    </ul>
</div>