<div class="modal-update-service" id="modal-update-service">
    <h3>Modifier #id</h3>
    <div class="main-form">
        <form action="" method="post" class="form-create-service">
            <div class="form-group">
                <label for="image">Image</label>
                <input type="file" id="image" name="image" required>
            </div>
            <div class="form-group">
                <label for="name">Nom du service</label>
                <input type="text" id="name" name="name" required>
            </div>
            <div class="form-group">
                <label for="description">Description</label>
                <textarea name="description" id="description" cols="30" rows="10" required></textarea>
            </div>
            <div class="form-btn">
                <button type="btn-container" class="btn-validate-form" id="btn-add">Modifier</button>
                <button type="button" class="btn-cancel-form" id="btn-cancel-update">Annuler</button>
            </div>
    </div>
    </form>
</div>
</div>
</div>