{% extends 'base.html.twig' %}

{% block title %}Arcadia - Services{% endblock %}

{% block body %}
<main class="services">
    <div class="add-service" data-show="admin" data-show="employee"><button id="btn-add-service" class="button2">Ajouter
            un service</button>
    </div>
    <section class="container-services">
        {% include "modals/modal-add-service.html.twig"%}
        {% include "modals/modal-update-service.html.twig"%}
        <div class="service">
            <div class="img-service"><img src="./assets/img/restauration.jpg" alt="restauration">
                <div class="icon-delete"><i data-show="admin" data-show="employee" class="fa-solid fa-trash-can"></i>
                </div>
                <div class="icon-update"><i data-show="admin" data-show="employee" class="fa-solid fa-pencil"></i>
                </div>
                {% include "modals/modal-delete.html.twig"%}
            </div>
            <h3>Restauration</h3>
            <p>Vous pourrez déguster dans notre restaurant: burgers, salades et pizzas. Des tables de
                pique-nique sont égalemnt mis à disposition.</p>
        </div>
        <div class="service">
            <div class="img-service"><img src="./assets/img/visite-guide.jpg" alt="visite guidée">
                <div class="icon-delete"><i data-show="admin" data-show="employee" class="fa-solid fa-trash-can"></i>
                </div>
                <div class="icon-update"><i data-show="admin" data-show="employee" class="fa-solid fa-pencil"></i>
                </div>
                <h3>Visitez guidée gratuite</h3>
                <p>Vous visiterez les différents habitats avec nos guides passionnés. Vous deviendrez incollables
                    sur vos animaux préférés</p>
            </div>
            {% include "modals/modal-delete.html.twig"%}
        </div>
        <div class="service">
            <div class="img-service"><img src="./assets/img/petit-train.jpg" alt="petit train">
                <div class="icon-delete"><i data-show="admin" data-show="employee" class="fa-solid fa-trash-can"></i>
                </div>
                <div class="icon-update"><i data-show="admin" data-show="employee" class="fa-solid fa-pencil"></i>
                </div>
                <h3>Petit-train</h3>
                <p>Embarquez à bord de notre petit train, pour une visite sans effort. Vous explorerez le parc d’une
                    autre façon.</p>
            </div>
            {% include "modals/modal-delete.html.twig"%}
        </div>

    </section>
</main>
{% block javascripts %}
<script src="{{asset('assets/js/pages/services.js')}}"></script>
{% endblock %}

{% endblock %}