@import "custom.scss";

html {
    position: relative;
    min-height: 100%;
}

body {
    padding-bottom: 150px;
}

footer {
    bottom: 0;
    position: absolute;
}

textarea {
    resize: none;
}



.home-big-title {
    position: relative;

    img {
        z-index: 0;
        width: 100%;
        height: auto;
    }

    h1 {
        position: absolute;
        width: 100%;
        z-index: 1;
        top: 20%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

.horaries,
.value {
    background-color: var(--primary);
    color: white;
}

.btn-primary {
    width: 100px;
}

.btn-success {
    width: 100px;

}

.habitat {
    position: relative;

    img {
        z-index: 0;
    }

    h2 {
        position: absolute;
        background-color: adjust-color($color: transparent, $alpha: 0.4);
        padding: 0px 5px 2px 5px;
        color: white;
        z-index: 1;
        border-radius: 5px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

.card-animal-list {
    width: 18rem;
}

.card-animal-show {
    width: 30rem;
}

.bi-caret-up-fill,
.bi-caret-down-fill {
    cursor: pointer;
}